html {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Cabin", sans-serif;
  color: #373A3C;
  background-color: black;
}

#logo{
  width: 10%;
  
}
nav{
  background-color: #373A3C
}

#imagen_1{
  width: 100% !important;
  height: 100% !important;
}

hr{
  opacity: 1 !important;
  
}

#nombre_local {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nombre_local_nav{
  font-size: 37pt;
}

.carousel-indicators{
  position: relative!important;
}
.carousel-indicators button {
  width: 20px !important; 
  height: 20px !important; 
  border-radius: 50% !important; 
  background-color: #373A3C31 !important; 
}

.carousel-indicators .active {
  background-color: #373A3C !important; 
}

h3{
  margin-bottom: 20px;
}

.subraya_1 {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 10px;
    text-decoration-color: #000;
}
.subraya_1_color {
    color: red;
}
.subraya_2 {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 10px;
    text-decoration-color: #000;
}
.subraya_2_color {
    color: red;
}
ul{
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

ol {
  margin-top: 40px;
  list-style-position: inside;
  padding: 0;
  text-align: left;
}

ol li{
  margin-bottom: 20px;
}
.letra_section_ultima{
  font-size: 30pt;
}







.fa-solid{
  color: white;
  text-align: center;
  background-color: rgb(13 202 240);
  
}
.card-destacados{
  background-color: rgb(13 202 240);
}








section button{
  width: 80% !important; 
  max-width: 250px;
}
.seccion_sub{
  background-color: #DC3545;
}
footer h1{
  color: #fff !important;
  font-size: 37pt !important;
}


@media (max-width: 400px) {
  .boton_responsivo{
    margin-right: 5px !important;
    margin-bottom: 10px;
    font-size: 8pt;
  }
  .letra_section_ultima{
    font-size: 16pt;
  }
  .container{
    padding-right: 11% !important;
    padding-left: 11% !important;
  }
  .nombre_local_nav{
    font-size: 20pt;
  }
}
