html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Cabin", sans-serif;
  color: white;
  background-color: black;
}

nav {
  background-color: #373A3C
}

.navbar-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #373A3C;
  z-index: 10;
}

#imagenes_carrusel {
  max-height: 2000px !important;
}

hr {
  opacity: 1 !important;
}

.card-body {
  background-color: black;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.letra_section_ultima {
  font-size: 30pt;
}


.fa-solid {
  color: white;
  text-align: center;
  background-color: rgb(13 202 240);

}

.fa-brands {
  color: white;
}

.card-destacados {
  background-color: rgb(13 202 240);
}


.footer_imagenes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer h1 {
  color: #fff !important;
  font-size: 17pt !important;
  justify-content: flex-start;
}

section button {
  width: 80% !important;
  max-width: 250px;
}



@media (max-width: 400px) {
  .container {
    padding-right: 11% !important;
    padding-left: 11% !important;
  }
}